name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: [ "3.8", "3.9", "3.10"]

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml

      - name: Make scripts executable
        run: |
          chmod +x ./skj
          chmod +x ./test.bash

      - name: Run tests
        run: |
          bash -xv ./test.bash
